<h1>Representative Profile Page</h1>

<h2><%= @representative.name %></h2>
<img src="<%= @representative.photo %>" alt="Picture of <%= @representative.name %>" />

<h2>Representative Information</h2>
<h3>Title</h3>
<p><%= @representative.title %></p>

<h3>Open Civic Data ID</h3>
<p><%= @representative.ocdid %></p>

<h3>Politcal Party</h3>
<p><%= @representative.political_party %></p>

<h2>Contact Information</h2>
<address>
<h3>Street</h3>
<p><%= @representative.street %></p>

<h3>City</h3>
<p><%= @representative.city %></p>

<h3>Zip Code</h3>
<p><%= @representative.zip %></p>

<h3>State</h3>
<p><%= @representative.state %></p>
<address>