= form_for news_item, url: form_url, html: { method: form_method } do |f|
    .form-group.row
        .col-sm-2
            = label :news_item, 'Representative', class: 'col-form-label'
        .col-sm-10
            = select :news_item, :representative_id, representatives_list, { include_blank: true },
            class: 'form-control'
    .form-group.row
        .col-sm-2
            = label :news_item, 'Issue', class: 'col-form-label'
        .col-sm-10
            = select :news_item, :issue, options_for_select(NewsItem.get_issues, @news_item.issue), { include_blank: true },
            class: 'form-control'
    .form-group.row.text-center
        .col-sm-12
            .actions
                = f.submit 'Search', class: 'btn btn-primary'
    
