.row.mt-2
  .col-12.col-md-6.offset-md-3.col-xl-4.offset-xl-4
    %h1.text-center Edit News Item

  .col-12.col-md-6.offset-md-3.col-xl-4.offset-xl-4
    %p
      %strong Representative:
      = link_to @representative.name, representative_path(@representative)
    %p
      %strong Issue:
      = @selected_issue

  .col-12.col-md-6.offset-md-3.col-xl-4.offset-xl-4
    %h3 Select an article:
    - @top_five_articles&.each do |article|
      %h4= article.title
      %p
        %strong Link:
        = link_to article.link, article.link
      %p
        %strong Description:
        = article.description
      %hr


  .col-12.col-md-6.offset-md-3.col-xl-4.offset-xl-4
    .clearfix.mt-3
      .float-right
        = link_to representative_news_items_path(@representative), class: 'btn btn-info' do
          View news articles
          %i.fas.fa-arrow-right
